.btn-addEmployee{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #7744d5;
  color: white;
  font-weight: 550;
  width: 100%;
  max-width: 150px;
}
.btn-addEmployee:hover{
  background-color: #9644d5;
}